@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
    font-weight: 400;
}

.firstHeader{
    background-color: #1CD1B0; 
    font-size: 15px;
    padding: 0.4em;
}

.title{
    background-color: #00669F;
    font-size: 1.25em;   
    position: sticky;
    top: 0;
    box-shadow: 0 10px 7px rgba(0, 0, 0, 0.25);
    z-index: 10;
    padding: 1em;
}

section{
    margin: 152px 20%;
}
.card{
    display: inline-block;
    position: relative;
    margin-right: 30px;
    width: 300px;
 
}
.background{
    position: relative;
}
.profile{
    display: block;
    position: absolute;
    top: 128px;
    left: 90px;
    
    border-radius: 50%;
}
.like{
    display: block;
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 15px;
}
.cardBot{
    background-color: #f3f3f3;
    width: 300px;
    height: 336px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h2{
    padding-top: 74px;
    text-transform: uppercase;
}
.CardParagraph{
    padding: 10px 17px 0 16px;
    text-align: left;

}
.button{
    background-color: #00669F;
    color: white;
    font-size: 15px;
    height: 49px;
    width: 129px;
    margin: auto;
    margin-top: 37px;
}
.buttonText{
    padding-top: 15px;
}

footer{
    background-color: #00669F;
    color: white;
    height: 51px;
    margin-top: 167px;
    padding: 1em;
}